<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_hint_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,652},{121,171}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{121,171}}</string>
                <key>sourceSize</key>
                <string>{121,175}</string>
            </dict>
            <key>bg_hint_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,652},{178,121}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{178,121}}</string>
                <key>sourceSize</key>
                <string>{182,127}</string>
            </dict>
            <key>bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{766,650}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,650}}</string>
                <key>sourceSize</key>
                <string>{770,650}</string>
            </dict>
            <key>hint_key_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>input_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,825},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>input_dock.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>input_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,652},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>input_stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,891},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>player01.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,775},{190,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,117}}</string>
                <key>sourceSize</key>
                <string>{190,119}</string>
            </dict>
            <key>player02.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,798},{190,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,117}}</string>
                <key>sourceSize</key>
                <string>{190,119}</string>
            </dict>
            <key>title_life_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,854},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>title_life_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,854},{81,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamescene.png</string>
            <key>size</key>
            <string>{766,915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42701fbe3cb461270cf96e6cb21fa86$</string>
            <key>textureFileName</key>
            <string>gamescene.png</string>
        </dict>
    </dict>
</plist>
