<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{106,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{106,429}}</string>
                <key>sourceSize</key>
                <string>{108,435}</string>
            </dict>
            <key>btnArrowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,72},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>btnArrowLeft_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,214},{60,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>btnArrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,0},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>btnArrowRight_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,144},{60,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,446},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnClose_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,284},{60,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{60,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnDrop.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,410},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnDrop_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,410},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnForbidSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,448},{68,58}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{68,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnGameSingle_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,314},{235,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{235,58}}</string>
                <key>sourceSize</key>
                <string>{301,70}</string>
            </dict>
            <key>btnGameSingle_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{281,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{281,44}}</string>
                <key>sourceSize</key>
                <string>{301,70}</string>
            </dict>
            <key>btnGameSingle_hover_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,254},{235,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{235,58}}</string>
                <key>sourceSize</key>
                <string>{301,70}</string>
            </dict>
            <key>btnGameSingle_hover_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{281,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{281,44}}</string>
                <key>sourceSize</key>
                <string>{301,70}</string>
            </dict>
            <key>btnMusic.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,448},{68,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{68,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnMusic_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,431},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{62,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,374},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{76,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnSound_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,448},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btnWifiVS_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,194},{235,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{235,58}}</string>
                <key>sourceSize</key>
                <string>{301,70}</string>
            </dict>
            <key>btnWifiVS_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{297,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{297,44}}</string>
                <key>sourceSize</key>
                <string>{301,70}</string>
            </dict>
            <key>btnWifiVS_hover_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{235,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{235,58}}</string>
                <key>sourceSize</key>
                <string>{301,70}</string>
            </dict>
            <key>btnWifiVS_hover_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{297,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{297,44}}</string>
                <key>sourceSize</key>
                <string>{301,70}</string>
            </dict>
            <key>game_title_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{673,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{673,94}}</string>
                <key>sourceSize</key>
                <string>{681,120}</string>
            </dict>
            <key>game_title_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{661,96}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{661,96}}</string>
                <key>sourceSize</key>
                <string>{681,120}</string>
            </dict>
            <key>level_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{413,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{413,50}}</string>
                <key>sourceSize</key>
                <string>{431,56}</string>
            </dict>
            <key>level_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,431},{78,40}}</string>
                <key>offset</key>
                <string>{-186,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,40}}</string>
                <key>sourceSize</key>
                <string>{450,56}</string>
            </dict>
            <key>moregames.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,332},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>moregames_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,374},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{76,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,254},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>rank_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,374},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{76,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuscene.png</string>
            <key>size</key>
            <string>{843,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:787e10814d9d5c2719225db0dc03bf7d$</string>
            <key>textureFileName</key>
            <string>menuscene.png</string>
        </dict>
    </dict>
</plist>
